html {
  margin-top: 60px !important;
}
#extension-bar {
  width: 100%;
  height: 60px;
  float: right;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: #131921;
  z-index: 1000000;
}
